body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #000000,#001a16, #0e001a, #001a16, #000000);
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-top: 80px; 
    padding-bottom: 60px; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#home {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center; 
    margin: 60px auto;
}


#contact {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center; 
    margin: 60px auto;
}

#about, #whitepaper {
    background-color: #111; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center; 
    margin: 60px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px #00d4ff, 0 0 30px #00d4ff; 
    
}

#about h2 {
    color: #00ffff; 
    text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff; 
    font-size: 2.5rem; 
}

#about p {
    color: #ccc; 
    font-size: 1rem;
    line-height: 1.6;
    text-shadow: 0 0 5px #00d4ff; 
    margin-bottom: 15px;
}

#about p:last-child {
    margin-bottom: 0; 
}
